/**********************************************************************************************************************/
/*                                                 PAGE STYLE                                                        */
/**********************************************************************************************************************/

html {
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    background:linear-gradient(#4ECDC4, #66CC99);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-size: 14px;
    color: #003B20;
}
body::after{ content:''; display:block; height:100px; }

/**********************************************************************************************************************/
/*                                               HEADER STYLE                                                        */
/**********************************************************************************************************************/

.navbar.navbar-light.navbar-expand-md {
  background-color:#ffffff;
  box-shadow:0px 3px 10px 3px rgba(0, 0, 0, 0.16);
  padding:8px 25px;
}

.navbar-brand {
  background-image:url("../../bundles/tsnao/img/logo_resize.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:120px;
  height:60px;
}

/**********************************************************************************************************************/
/*                                                 FORMS STYLE                                                       */
/**********************************************************************************************************************/

.transparent {
    width: 70%;
    min-height: 80%;
    margin: 5% auto;
    padding: 2% 0px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    
}

.form_layout {
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-bottom: 40px;
    background-color: #ffffff;
    border-radius: inherit;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.16);
}

.main-menu {
    font-size: 18px;
    border-top: #ffffff solid 1px;
    border-bottom: #ffffff solid 1px;
    border-left: #ffffff solid 1px;
    border-right: none;
    background-color: #663300;
}

.form_head {
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.16);
    line-height: 40px;
    padding: 0px 40px;
    font-size: 20px;
}

form {
    width: 70%;
    margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 3px solid #B7872A;
    background-color: #EEF2F0;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

textarea {
    height: 300px;
    resize: none;
    border: none !important;
    border-bottom: 3px solid #B7872A !important;
    background-color: #EEF2F0 !important;
}

.starchip {
    font-size: 20px;
    color: #FF0000;
}

.actions_layout {
    width: 90%;
    margin: 0 auto;
}

/**********************************************************************************************************************/
/*                                                  TABLES STYLE                                                     */
/**********************************************************************************************************************/

.table_layout {
    width: 90%;
    margin: 30px auto;
    overflow: auto;
    min-height: 1.5em;
    max-height: 200px;
}

.table_head_layout {
    width: 100%;
    line-height: 30px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.validated_obs {
    background-color: #66CC99;
}

.pending_obs {
    background-color: #858585 ;
}

.refused_obs {
    background-color: #EF7676;
}

.obs-row:hover {
    background-color: #aacd4e !important;
}

.obs-row {
    cursor: pointer;
}

.remove-obs:hover {
    color: red;
}

/**********************************************************************************************************************/
/*                                                BUTTONS STYLE                                                      */
/**********************************************************************************************************************/

.btn.btn-primary {
  background-color:#ffffff;
  border-radius:40px;
  border-width:2px;
  border-color:#66CC99;
  font-size: inherit;
  color:#003B20;
  line-height:24px;
  box-shadow:0px 0px 1px 0px;
}

.btn.btn-primary.naturalist {
  background-color:#66CC99;
  border-color:#66CC99;
  color:#ffffff;
}

.btn.btn-primary.neutral {
  background-color:#4ECDC4;
  border-color:#4ECDC4;
  color:#ffffff;
}

.btn.btn-primary.observations {
  background-color:#B7872A;
  border-color:#B7872A;
  color:#ffffff;
}

.btn.btn-primary.delete {
  background-color:#EF7676;
  border-color:#EF7676;
  color:#ffffff;
}

i {
    color: initial;
}

footer {
    position: absolute;
    bottom: 0px;
    width:100%;
    height:80px;
    padding:0px 41px;
    box-shadow:0px -3px 10px 3px rgba(0, 0, 0, 0.16);
    background-color:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/**********************************************************************************************************************/
/*                                                SOCIAL LOGIN STYLES                                               */
/**********************************************************************************************************************/

.google {
    width: 60%;
    margin: 0 auto;
    border: 3px solid #EF7676;
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #EF7676;
}

.google:hover {
    cursor: pointer;
}

.go_logo {
    color: #EF7676;
}

.facebook {
    width: 60%;
    margin: 0 auto;
    border: 3px solid #3B5998;
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #3B5998;
}

.facebook:hover {
    cursor: pointer;
}

.fb_logo {
    color: #3B5998;
}

/**********************************************************************************************************************/
/*                                            RESPONSIVE MEDIA QUERIES                                              */
/**********************************************************************************************************************/

@media all and (max-width: 768px) {
    
    body {
        font-size: 12px;
        padding-bottom: 80px;
    }

    .transparent {
        width: 100%;
        margin: 5% auto;
    }

    .form_layout {
        width: 100%;
    }

    form {
        width: 90%;
    }

    textarea {
        height: 150px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        height: 30px;
    }

    .table_layout {
        width: 95%;
    }

    .table_head_layout {
        font-size: 14px;
    }

    .actions_layout {
        width: 95%;
    }

    .google {
        font-size: 15px;
        line-height: 40px;
    }

    .facebook {
        font-size: 15px;
        line-height: 40px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        height: 130px;
        padding-top: 20px;
    }
}


@media all and (min-width: 769px) and (max-width: 1366px){

    .transparent {
        width: 90%;
        margin: 5% auto;
    }
}

/**********************************************************************************************************************/
/*                                                body style                                                        */
/**********************************************************************************************************************/

.position-content {
    margin-top: 93px;
}

.main-contain{
    background-color: #ffffff;
}

.main-contain-border{
    border-right: 1px solid #663300;
    margin-right: 20px;
}

.sidebar {
    background-color: #ffffff;
}

.sidebar-module {
    margin-top: 50px;
    margin-bottom: 15px;
    background-color: #B7872A;
}

.sidebar-subtitle {
    border-top: #B7872A 15px solid;
    border-left: #B7872A 12px solid;
    border-right: #B7872A 10px solid;
    background-color: #663300;
    color: #ffffff;
}

.space {
    text-shadow: 2px 1px 2px #032A08;
}

.module-content {
    padding: 22px;
}

@media only screen and (min-width: 768px) {
    .sidebar-subtitle {
        padding: 10px 4px;
        font-size: 13px;
    }

    .space {
        margin-left: 0.4em;
        margin-right: 0.3em;
    }
}

@media only screen and (min-width: 1224px) {
    .sidebar-subtitle {
        padding: 10px 4px;
        font-size: 16px;
    }

    .space {
        margin-left: 0.4em;
        margin-right: 0.3em;
    }
}

@media only screen and (min-width: 1440px) {
    .sidebar-subtitle {
        padding: 8px 6px;
    }

    .space {
        margin-left: 0.4em;
        margin-right: 0.3em;
    }
}

@media only screen and (min-width: 1824px) {
    .sidebar-subtitle {
        padding: 8px;
    }

    .space {
        margin-left: 0.6em;
        margin-right: 1.2em;
    }
}

.module-item {
    border: 2px solid #7777776e;
    padding: 0.6em;
    background-color: #eee;
    margin-bottom: 2em;
}

.bird_icone {
    background-color: #42840e;
    padding: 0.3em;
    color: #663300;
}

.btn-width {
    width: 100%;
}

.enable-border-left {
    border-left: 1px solid #67b168;
}

.awesomplete,.input-with{
    width: 100%;
}

/**********************************************************************************************************************/
/*                                                Openstreetmap style                                                          */
/**********************************************************************************************************************/
#mapid { height:670px; }


/**********************************************************************************************************************/
/*                                                Recherche inputs style                                                          */
/**********************************************************************************************************************/
#coord div.form-group:first-child {
padding-right: 2.5em;
}

.search-box {
    margin-bottom: 0.8em;
}

.search-box .tab-content {
    padding:35px 15px;
}

input#input-specimen,
input#input-cities {
    width: 45em;
    height: 4em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .1em .3em;
    border-color: #b56f2a;
}

input#latitude,
input#longitude {
    width: 10em;
    height: 3em;
    font-size: 18px;
    padding: .1em .3em;
    border-color: #b56f2a;
}

.dropdown-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 4em;
    width: 5em;
    margin-left: -.3em;
}

.dropdown-btn-color {
    color: #b56f2a;
    background-color: #ffffff;
    border-color: #b56f2a;
}

.submit-btn {
    color: #ffffff;
    background-color: #b7872a;
    border-color: #b56f2a;
    height: 4em;
    width: 8em;
    margin-left: 2em;
}

.awesomplete > ul {
    z-index: 401 !important;
}