/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/naoProject.iml
/.idea/modules.xml
/*.php~
Supprimerait .idea/inspectionProfiles/
Supprimerait .idea/workspace.xml
Supprimerait var/cache/
Supprimerait var/logs/
Supprimerait var/sessions/
Supprimerait .idea/
/src/TS/NaoBundle/Resources/public/jquery/nao-read.js
