<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Demande d'amélioration de compte</title>
	</head>

	<body>

		<p>Veuillez remplir le formulaire suivant en envoyant votre diplôme ou tout autre document attestant votre capacité de Naturaliste pour avoir accès aux fonctionnalités avancées.</p>
			
			{{ form(form) }}
	
	</body>
<html>