{% extends "@TSNao/sections/base.html.twig" %}
	
	{% block title %}Demande d'amélioration de compte{% endblock %}

	{% block content %}

		{% for message in app.flashes('success') %}

            <div>
                {{ message }}
            </div>

        {% endfor %}

        {% for message in app.flashes('error') %}

            <div>
                {{ message }}
            </div>

        {% endfor %}

		<p>Veuillez remplir le formulaire suivant en envoyant votre diplôme ou tout autre document attestant votre capacité de Naturaliste pour avoir accès aux fonctionnalités avancées.</p>
			
			{{ form(form) }}
			
	{% endblock %}
	