{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Suppression de compte{% endblock %}

	{% block content %}

		<a href="{{ path('ts_nao_dashboard') }}">Retour au tableau de bord</a>
		<h1>Voulez-vous supprimer votre compte ?</h1>

		<form action="{{ path('ts_nao_delete_account') }}" method="post">
			
			<input type="submit" value="Supprimer" />
			{{ form_rest(form) }}

		</form>

	{% endblock %}