{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Suppression de compte{% endblock %}

	{% block content %}

		<div class="transparent">
			<div class="form_layout">
				<div class="form_head">
					<p><i class="fa fa-times mr-3"></i>Suppression de compte</p>
				</div>
				<form action="{{ path('ts_nao_delete_account') }}" method="post">
					<div class="text-center">
						<h4>Voulez-vous supprimer définitivement votre compte ?</h4>
						<p>Vous perdrez toutes vos observations ! Cette action est irréversible !</p>
					</div>
					<input type="submit" class="btn btn-primary delete d-block mx-auto mt-4" value="Supprimer" />
					{{ form_rest(form) }}
				</form>
			</div>
		</div>

	{% endblock %}