<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Page de connexion</title>
	</head>

	<body>

		{% if error %}
			<div> {{ error.message }} </div>
		{% endif %}

		<form action="{{ path('ts_nao_login_check') }}" method="post">
			<label for="username">Identifiant:</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" />

			<label for="password">Mot de passe :</label>
			<input type="password" id="password" name="_password" />

			<input type="checkbox" id="remember_me" name="_remember_me" />
    		<label for="remember_me">Se souvenir de moi</label>
			<br />
			<input type="submit" value="Connexion" />
		</form>
	</body>
<html>