{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Réinitialisation de mot de passe{% endblock %}

	{% block content %}

		<form action="{{ path('ts_nao_reset_password') }}", method="post">
			<input type="hidden" name="email" id="email" value="{{ email }}">

			{{ form_rest(form) }}

		</form>

	{% endblock %}