{# #########################################################################################
 Author: Eve ODIN
 Date  : 24/04/18 15:05

 Description: This is the template base of a Web page of the NAO Project.
              It contents the structure position:
              1. Header template
              2. footer template
              3. Sidebar template
              4. Common tags of the Web Pages
######################################################################################### #}

<!DOCTYPE html>
<html lang="fr">

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/tsnao/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Theme CSS -->
        {% stylesheets 'bundles/tsnao/css/nao.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {#<script src="https://use.fontawesome.com/4de1676336.js"></script>#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- specific CSS per page -->
        {% block cssspec %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- specific JS Script per page -->
        {% block jsspec %}{% endblock %}

    {% endblock %}
    {% block recaptcha %}
    {% endblock %}
</head>

<body>
        {%   include 'TSNaoBundle:sections:header_working.html.twig' %}


        {% block content %}{% endblock %}


        {% include 'TSNaoBundle:sections:footer_working.html.twig' %}

    <!-- jQuery -->
    <script src="{{ asset('bundles/tsnao/jquery/jquery.min.js' ) }}"></script>
    <script src="{{ asset('bundles/tsnao/bootstrap/js/bootstrap.min.js') }}"></script>

    {% block js %}{% endblock %}

</body>

</html>