<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 text-center">

                {% if is_granted('ROLE_ADMIN') and app.user.active == true %}
                    <button class="btn btn-success btn-sm" href="#" type="button">Espace administration</button>
                {% endif %}

            </div>
            <div class="col-sm-8 text-center">
                <a href="{{ path('ts_nao_homepage') }}"><i class="fa fa-copyright"></i> 2018 Nos Amis les Oiseaux</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="#">Mentions légales</a>
            </div>
        </div>
    </div>
</footer>
