			{% for message in app.flashes('success') %}

            <div class="alert alert-success alert-dismissable mb-5">
            	<button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>

	        {% endfor %}

	        {% for message in app.flashes('error') %}

	            <div class="alert alert-danger alert-dismissable mb-5">
	            	<button type="button" class="close" data-dismiss="alert">&times;</button>
	                {{ message }}
	            </div>

	        {% endfor %}