<!-- Side bar -->
<div class="col-lg-3  col-sm-5 hidden-xs sidebar">
    <div class="sidebar-module">
        <h4 class="sidebar-subtitle">
            <span class="fas fa-binoculars fa-2x space"></span> Les dernières observations
        </h4>
        <div class="module-content">
            Etiam porta <em>sem malesna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
            Aenean lacinia bibendum nulla sed consectetur.
        </div>
    </div>
</div>