<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue dans Symfony 3.4 !</title>
</head>
<body>
<h1>Premier template!</h1>

<p>
    Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur
    et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant,
    effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci.
    et signis prope ripam locatis ad manus comminus conserendas denseta scutorum
    conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi
    vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.
</p>
</body>
</html>
